body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
}

.wrapper {
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 20px;
}

#wheel {
    border: 10px solid #333;
    border-radius: 50%;
}

#spin-btn {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 16px;
}

#result {
    font-size: 40px;
    visibility: hidden;
}

#triangle {
    position: absolute;
    top: 57%;
    left: 49.5%;
    width: 0;
    height: 0;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-top: 30px solid black;
    transform: translate(200px, -50%) rotate(90deg); /* Position at 3 o'clock */
}